<div class="container">
  <h2>チャットルーム <%= @conversation.recipient.name %>さん</h2>

  <div class="convo_inner">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <% if user.name == current_user.name %>
          <div class="convo_item my_item">
            <div class="convo_content my_content">
              <div class="convo_list my_list">
                <%= message.body %>
              </div>
              <div class="convo_header my_header">
                あなた
                <% if user.profile_picture.url.present? %>
                  <%= image_tag(user.profile_picture.url, { border: '0', alt: 'プロフィール画像', height: 50 }) %>
                <% else %>
                  <i class="fas fa-user-alt"></i>
                <% end %>
                <div class="convo_time my_time">
                  <%= message.created_at.strftime('%Y/%m/%d %H:%M') %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="convo_item">
            <div class="convo_content">
              <div class="convo_list">
                <%= message.body %>
              </div>

              <div class="convo_header">
                <% if user.profile_picture.url.present? %>
                  <%= image_tag(user.profile_picture.url, { border: '0', alt: 'プロフィール画像', height: 50 }) %>
                <% else %>
                  <i class="fas fa-user-alt"></i>
                <% end %>
                <%= user.name %>さん
                <div class="convo_time">
                  <%= message.created_at.strftime('%Y/%m/%d %H:%M') %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= form_with(model: [@conversation, @message]) do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control", placeholder: "メッセージを書く" %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    </div>

    <div class="message_button">
      <%= f.submit "メッセージを送る", class: :button %>
    </div>
  <% end %>

  <div class="column-footer">
    <p>
      <% if @over_five %>
        <%= link_to '履歴を全て見る', '?m=all', class: :link_button %>
      <% end %>
    </p>
    <p><%= link_to 'チャットルーム一覧に戻る', conversations_path, class: :link_button %></p>
    <p><%= link_to 'ユーザー一覧に戻る', users_path, class: :link_button %></p>
  </div>
</div>
