<div class="container">
  <div class="sign_in_inner">
    <% if logged_in? %>
      <h1>Hi <%= current_user.name %>さん</h1>
      <h4>単語を覚えるのは大変ですよね。お疲れ様。</h4>
      <h4>頑張っているあなたは素敵です。</h4>
      <%= link_to 'さあ、もうひと頑張り。マイページに戻る', user_path(current_user), class: :link_button %>
    <% else %>
      <h1>アカウント登録</h1>
      <p>*入力必須事項</p>
      <%= form_with(model: user, local: true) do |f| %>
        <div class="row">
          <p>*</p><%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div class="row">
          <p>*</p><%= f.label :email %>
          <%= f.email_field :email %>
        </div>

        <div class="row">
          <p>*</p><%= f.label :password %>
          <%= f.password_field :password, placeholder: "6文字以上半角入力" %>
        </div>

        <div class="row">
          <p>*</p><%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, placeholder: "再度パスワードを入力" %>
        </div>

        <div class="row">
          <%= f.label :profile_picture %>
          <%= image_tag(@user.profile_picture.url) if @user.profile_picture.url.present? %>
          <%= f.file_field :profile_picture, id: :profile_picture %>
          <%= f.hidden_field :profile_picture_cache %>
        </div>

        <div class="row">
          <%= f.label :target_of_the_day %>
          <%= f.number_field :target_of_the_day, min: 1, max: 1000, placeholder: "半角数字入力" %>
        </div>

        <div class="row">
          <%= f.label :target_of_the_week %>
          <%= f.number_field :target_of_the_week, min: 1, max: 10000, placeholder: "半角数字入力" %>
        </div>

        <div class="row">
          <%= f.label :target_of_the_month %>
          <%= f.number_field :target_of_the_month, min: 1, max: 100000, placeholder: "半角数字入力" %>
        </div>

        <div class="row">
          <%= f.submit "アカウント登録", class: :button %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
