<div class="container edit_profile">
  <h1>プロフィール編集</h1>

  <div class="edit_profile_inner">
  <%= form_with(model: @user, local: true) do |f| %>
    <div class="row">
      <%= f.label "プロフィール用画像" %>
      <%= f.file_field :profile_picture, id: :profile_picture %>
      <%= f.hidden_field :profile_picture_cache %>
      <% if @user.profile_picture.url.present? %>
        <%= image_tag(@user.profile_picture.url, { border: '0', alt: 'プロフィール画像', height: 200 }) %>
      <% end %>
    </div>

    <div class="row">
      <%= f.label :target_of_the_day %>
      <%= f.number_field :target_of_the_day, min: 1, max: 200 %>
    </div>

    <div class="row">
      <%= f.label :target_of_the_week %>
      <%= f.number_field :target_of_the_week, min: 1, max: 2000 %>
    </div>

    <div class="row">
      <%= f.label :target_of_the_month %>
      <%= f.number_field :target_of_the_month, min: 1, max: 10000 %>
    </div>

    <div class="row">
      <%= f.submit "アップデート", class: :button %>
    </div>
  <% end %>
  </div>

  <%= link_to user_path(@user), class: :link_button do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>
