<div class="container">
  <h2>ユーザー一覧</h2>

  <div class="other_users">
  <% @users.order('id desc').each do |user| %>
    <% if user.id != current_user.id %>
      <div class="other_user row">
        <div class="item name col-lg-12">
          <% if current_user.following?(user) %>
            <i class="far fa-handshake"></i>
          <% end %>
          <%= user.name %>さん
        </div>
      </div>

      <div class="other_user_content row">
        <div class="user_pic col-md-12 col-lg-3">
          <% if user.profile_picture.url.present? %>
            <%= image_tag(user.profile_picture.url, { border: '0', alt: 'プロフィール画像', height: 50 }) %>
          <% else %>
            <i class="fas fa-user-alt"></i>
          <% end %>
        </div>

        <div class="item col-md-12 col-lg-3">
          登録単語数&nbsp全<%= Word.select{|x| x.user_id == user.id}.size %>個
        </div>

        <div class="item col-md-6 col-lg-3">
          <%= link_to "メッセージを送る", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post, class: :link_button %>
        </div>

        <div class="item col-md-6 col-lg-3">
          <%= render 'follow_form', user: user %>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>

  <div class="column-footer">
    <%= link_to user_path(@user), class: :link_button do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
</div>
