<h1><%= @user.name %>のページ</h1>
<p>Eメールアドレス:<%= @user.email %></p>

<%= image_tag @user.profile_picture.url %>
<%= link_to "プロフィール編集", edit_user_path(@user.id) %>

<%= link_to "単語一覧", words_path %>
<%= link_to '新しいお問い合わせをする', new_contact_path %>

<h2>フォローユーザー一覧</h2>
<% @followings.each do |following| %>
  <%= following.followed.name %>
<% end %>

<h2>フォロワーユーザー一覧</h2>
<% @follows.each do |follow| %>
  <%= follow.follower.name %>
<% end %>
