<div class="container">
  <div class="profile_title">
    <h1><%= @user.name %>さんのページ</h1>
  </div>

  <div class="profile_picture">
    <% if @user.profile_picture.url.present? %>
      <%= link_to edit_user_path(@user.id) do %>
        <%= image_tag(@user.profile_picture.url, { border: '0', alt: 'プロフィール画像', width: 250 }) %>
      <% end %>
    <% else %>
      <i class="fas fa-user-alt"></i>
    <% end %>
  </div>

  <div class="profile_top">
    <table>
      <tr class="row">
        <td class="col-md-12 col-lg-5 title">Eメールアドレス</td>
        <td class="col-md-12 col-lg-7"><%= @user.email %></td>
      </tr>

      <tr class="row">
        <td class="col-md-12 col-lg-5 title">お気に入りユーザー</td>
        <td class="col-md-12 col-lg-7">
          <% if @followings.present? %>
            <%= link_to users_path do %>
              <%= @followings.size %>名
            <% end %>
          <% else %>
            <%= link_to "登録ユーザーはいません", users_path %>
          <% end %>
        </td>
      </tr>

      <tr class="row">
        <td class="col-md-12 col-lg-5 title">あなたのフォロワー</td>
        <td class="col-md-12 col-lg-7">
          <% if @follows.present? %>
            <% @follows.each do |follow| %>
              <%= follow.follower.name %>さん&nbsp
            <% end %>
          <% else %>
            <%= link_to "現在フォロワーはいません", users_path %>
          <% end %>
        </td>
      </tr>

      <tr class="row">
        <td class="col-md-12 col-lg-5 title">1日の目標単語数</td>
        <td class="col-md-12 col-lg-7">
        <% if @user.target_of_the_day.present? %>
          <%= link_to @user.target_of_the_day, edit_user_path(@user.id)  %>
        <% else %>
          <%= link_to "目標単語数が設定されていません", edit_user_path(@user.id) %>
        <% end %>
        </td>
      </tr>

      <tr class="row">
        <td class="col-md-12 col-lg-5 title">1週間の目標単語数</td>
        <td class="col-md-12 col-lg-7">
        <% if @user.target_of_the_week.present? %>
          <%= link_to @user.target_of_the_week, edit_user_path(@user.id) %>
        <% else %>
          <%= link_to "目標単語数が設定されていません", edit_user_path(@user.id) %>
        <% end %>
        </td>
      </tr>

      <tr class="row">
        <td class="col-md-12 col-lg-5 title">1ヶ月の目標単語数</td>
        <td class="col-md-12 col-lg-7">
        <% if @user.target_of_the_month.present? %>
          <%= link_to @user.target_of_the_month, edit_user_path(@user.id) %>
        <% else %>
          <%= link_to "目標単語数が設定されていません", edit_user_path(@user.id) %>
        <% end %>
        </td>
      </tr>
    </table>

    <div class="profle_edit_link">
      <%= link_to "プロフィール編集", edit_user_path(@user.id), class: :link_button %>
    </div>
  </div>

  <div class="profile_charts row">
    <div class="chart">
      <h4>1日の目標単語数</h4>
      <%= pie_chart @chart_data_of_the_day, donut: true, height: "200px", refresh: 60, colors: ["#24a4fb", "#ddd"] %>
      <% if @user.target_of_the_day.present? && @user.target_of_the_day <= @number_of_words_today %>
        <h5>目標達成おめでとう！<br>頑張っていますね</h5>
      <% end %>
    </div>

    <div class="chart">
      <h4>1週間の目標単語数</h4>
      <%= pie_chart @chart_data_of_the_week, donut: true, height: "200px", refresh: 60, colors: ["#24a4fb", "#ddd"] %>
      <% if @user.target_of_the_week.present? && @user.target_of_the_week <= @number_of_words_this_week%>
        <h5>目標達成おめでとう！<br>頑張っていますね</h5>
      <% end %>
    </div>

    <div class="chart">
      <h4>1ヶ月の目標単語数</h4>
      <%= pie_chart @chart_data_of_the_month, donut: true, height: "200px", refresh: 60, colors: ["#24a4fb", "#ddd"] %>
      <% if @user.target_of_the_month.present? && @user.target_of_the_month <= @number_of_words_this_month %>
        <h5>目標達成おめでとう！<br>頑張っていますね</h5>
      <% end %>
    </div>
  </div>

  <p><%= link_to "単語登録をはじめる", words_path, class: :link_button %></p>
</div>
