<%= form_with(model: @word, local: true, url: choose_new_or_edit, html: {id: 'word_form', class: 'form'}) do |f| %>
  <% if @word.errors.any? %>
    <div id = "error_explanation">
      <ul>
        <% @word.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="word_term">
    <%= f.label "単語" %>
    <%= f.text_field :term, id: :word_term_registration, maxlength: 50 %>
  </div>

  <div class="word_memo">
    <%= f.label "意味、説明" %>
    <%= f.text_area :memo, id: :word_memo_registration, maxlength: 300 %>
  </div>

  <%= f.submit "登録", class: :button, id: :word_registration_button %>
<% end %>

<div class="column-footer">
  <%= link_to words_path(current_user.id), class: :link_button do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>
