<div class="container">
  <h1>単語検索</h1>
  <div class="words_search">
    <%= search_form_for @q do |f| %>
      <div class="row">
        <%= f.label :term_cont, "部分一致検索", placeholder: "単語を入力してください", class: "col-sm-12 col-md-3" %>
        <%= f.search_field :term_cont, class: "search_field" %>
      </div>
      <div class="row">
        <%= f.label :created_at, '登録日付検索', class: "col-md-12 col-lg-3" %>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              開始日<%= f.date_select :created_at_gteq,
                                include_blank: true,
                                use_month_numbers: true,
                                start_year: 2018,
                                end_year: Date.today.year,
                                date_separator: '/'
              %>
            </div>
            <div class="col-sm-12 col-md-6">
              終了日<%= f.date_select :created_at_lteq_end_of_day,
                                include_blank: true,
                                use_month_numbers: true,
                                start_year: 2018,
                                end_year: Date.today.year,
                                date_separator: '/'
               %>
             </div>
            </div>
         </div>
       </div>

      <%= f.submit "検索", class: :button %>
      <%= link_to 'クリア', request.path, class: :clear_button %>

    <% end %>
  </div>


  <h1>登録した単語一覧</h1>
  <div class="words_list">
    <div class="words_list_inner">
      <div class="words_list_inner_header">
        <p class="row">
          <%= sort_link(@q, :term, 'abc順並び替え', default_order: :asc) %>
          <%= sort_link(@q, :created_at, '登録日時順並び替え', default_order: :asc) %>
        </p>
      </div>

      <div class="words_list_inner_body">
        <div class="row">
        <% @search_results.each do |search_result| %>
          <% if search_result.user_id == current_user.id %>
            <p class="col-sm-12 col-md-6 col-lg-4"><%= link_to word_path(search_result.id) do %><%= search_result.term %><% end %></p>
          <% end %>
        <% end %>

        <% unless @search_results.find_by(user_id: current_user.id).present? %>
          <p><i class="fas fa-exclamation-triangle"></i>現在登録している単語はありません。新しい単語の登録から早速始めましょう。</p>
        <% end %>

        </div>
      </div>
    </div>

    <p><%= link_to '新しい単語の登録', new_word_path, class: :link_button %></p>
    <p class="words_list_footer">登録単語数&nbsp全<%= @words.size %>個</p>
  </div>

  <div class="words_to_slack">
    <h1>Slackで共有する</h1>
    <div class="send_registered_words_of_the_day">
      <p class="to_slack">今日登録した単語をslackに送りましょう。(注：卒業課題用のslackチャンネルは&nbsp<%= link_to  '#test_kaoru2' ,'https://diveintocode.slack.com/messages/CCA5K407M/details/', target: "_new" %>です）</p>
        <% @registered_words_of_the_day.each do |my_registered_word| %>
          <% if my_registered_word.user_id == current_user.id %>
            <% if my_registered_word.present? %>
              <%= link_to my_registered_word.term, word_path(my_registered_word.id), class: :link_button %>&nbsp
            <% end %>
          <% end %>
        <% end %>

        <% unless @registered_words_of_the_day.find_by(user_id: current_user.id).present? %>
          <i class="fas fa-exclamation-triangle"></i>今日登録した単語はありません。
        <% end %>
        <%= button_to 'Slackに送る', button_path, class: :button, method: :get, title: "Slackへの送信の確認", data: {confirm: '本当に送りますか？', cancel: "やめる", commit: "送る"} %>
    </div>
  </div>

  <div>
    <h1>応用編</h1>
    <p>単語スライダーを使って今までの単語を総復習しましょう。</p>
    <p>遊び方：下の「切り替え時間を設定」から単語が切り替わるタイミングを設定してタイムアタックを行う。</p>
    <button id="setTimeBtn" class="button">切り替え時間を設定</button>

    <div class="words_test">
      <h5>単語スライダー</h5>
      <div class="words_test_inner">
        <% if @words.present? %>
          <div class="random_tester">
            <div id="test_slider">
              <p>ARE YOU READY?</p>
            </div>
            <%= link_to "スタート", render_test_word_path, remote: true, class: :link_button, id: :nextWordBtn %>
          </div>
        <% else %>
          <p><i class="fas fa-exclamation-triangle"></i>現在登録している単語はありません。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
// 単語スライダーのタイマー機能
  $(function() {
    // ユーザーがタイマーの長さを指定する
    var setTimeBtn = document.getElementById('setTimeBtn');
    setTime = 5;
    setTimeBtn.addEventListener('click', function() {
      setTime = prompt('半角英数で時間を指定してください（秒）。初期値は5秒に設定してあります','5');
      // 入力制限
      if((setTime == "") || (setTime == null)) {
        setTime = 5;
      } else if(setTime.match(/^[1-9]+$/)){
        // promptでとると数字でも文字列として受け取ってるから数列型にする
        setTime = parseFloat(setTime);
      } else {
        alert("半角数字のみを入力してください。小数や分数、全角入力は受け付けません。");
        setTime = 5;
      }
    });

    var nextWordBtn = document.getElementById('nextWordBtn');
    // スライダーが始まったら'スタートボタン'を'次の単語へ'に変えて、指定時間ごとにタイマーをリセットして終了の文字に色をつける
    var timer;
    nextWordBtn.addEventListener('click', function() {
      clearTimeout(timer);

      timer = setTimeout(sliderTimer, (setTime+1)*1000+1000);
      function sliderTimer(timer) {
        var showTime = document.getElementById('showTime');
        showTime.style.color = "red";
      };
      // ボタンの書き換え
      nextWordBtn.innerHTML = '次の単語へ';
    });

    // 残り時間を表示する
    var count;
    nextWordBtn.addEventListener('click', function() {
      var timeRemain = setTime+1;
      var timeRemainMsg = document.createElement('div');
      timeRemainMsg.setAttribute('id', 'showTime');
      var parent = nextWordBtn.parentElement;
      parent.insertBefore(timeRemainMsg, null);

      // 1秒ずつ残り時間を減らしていく
      count = setInterval(startCounting, 1000);
      function startCounting(count) {
        timeRemain--;
        timeRemainMsg.innerHTML = '制限時間:' + timeRemain + '秒';
        if (timeRemain == 0) {
          timeRemainMsg.innerHTML = '制限時間:0秒';
          clearInterval(count);
        } else if (timeRemain < 0) {
          timeRemainMsg.innerHTML = '制限時間終了';
          clearInterval(count);
        }

        // 途中で次の単語ボタンや切り替え時間設定ボタンを押した時、カウントを中止して残り時間を非表示にする。
        nextWordBtn.addEventListener('click', function(count) {
          timeRemainMsg.remove();
          clearInterval(count);
        });

        setTimeBtn.addEventListener('click', function(count) {
          timeRemainMsg.remove();
          clearInterval(count);
          nextWordBtn.innerHTML = 'もう一度始める';
        });
      };
    });
  });

</script>
