<div class="container">
  <h1>単語詳細</h1>

  <div class="word_details">
    <div class="word_details_inner">
      <p class="word_details_inner_title">単語</p>
      <p class="word_details_inner_explaination"><%= @word.term %></p>
    </div>

    <div class="word_details_inner">
      <p class="word_details_inner_title">意味、説明</p>
      <p class="word_details_inner_explaination"><%= @word.memo %></p>
    </div>

    <div class="word_details_inner registered_day">
      <p class="word_details_inner_title">登録日</p>
      <p class="word_details_inner_explaination"><%= @word.created_at.strftime('%Y/%m/%d %H:%M') %></p>
    </div>

    <%= link_to '編集', edit_word_path(@word.id), class: :link_button %>
    <%= link_to '削除', word_path(@word.id), class: :link_button, method: :delete, title: "削除の確認", data: {confirm: '本当に削除しますか？', cancel: "やめる", commit: "削除する"} %>
  </div>

  <div class="column-footer">
    <%= link_to words_path(current_user.id), class: :link_button do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
</div>
