<!DOCTYPE html>
<html>
  <head>
    <title>YetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Federo|Noto+Serif+JP" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <div class="top">
        <div class="top_overlay_one">
        </div>

        <div class="top_overlay_two">
        </div>

        <div class="top_logo">
          LOGO
          <%#= image_tag "logo" %>
        </div>
      </div>

      <div class="top_menu">
        <ul>
        <% unless logged_in? %>
          <li><%= link_to_unless_current "サインアップ", new_user_path %><i class="fas fa-circle"></i></li>
          <li><%= link_to_unless_current "ログイン", new_session_path %><i class="fas fa-circle"></i></li>
        <% end %>
        </ul>
      </div>

      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key} alert alert-info", role: "alert") %>
      <% end %>
    </header>

    <%= yield %>

    <footer>
      <div class="footer_image_second_application">
      </div>

      <div class="footer_overlay">
      </div>

      <div class="footer_logo">
        LOGO
        <%#= image_tag "logo" %>
      </div>

      <div class="footer_inner">
        <h2>YET</h2>
        <p>Graduation assignment by Kaoru Onuki 201804<br>@DIVE INTO CODE Corp.</p>
      </div>
    </footer>
  </body>
</html>
